body {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#buttons {
    margin: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

p {
    text-align: center;
}

#PSM-buttons {
    margin: 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

#temp {
    font-size: 100px;
    padding: 1px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
}

#isPSM {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#weather {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
}